<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Tech Blog</h1>
      <nav class="navbar mt-2">
        {{#if loggedIn}}
          <a href="/" class="pt-1 a">Homepage</a>
          <a href="/dashboard" class="pt-1 a">Dashboard</a>
          <a href="/dashboard/create/" class="pt-1 mr-4 a">Create Post</a>
          <button id="logout" class="button is-warning">Logout</button>
        {{else}}
          <a href="/" class="navbar-item pt-1 a">Homepage</a>
          <a href="/login" class="button a">Login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if loggedIn}}
    <script src="/scripts/logout.js"></script>
  {{/if}}
</body>

</html>