<div>
  <a href="/dashboard/create/"></a>

  <h2 class="title">Your Posts</h2>
  <hr>

  {{#if posts.length}}
    {{#each posts}}
      <div class="post">
        <h3>{{title}}</h3>
        <p>{{post_content}}</p>
        <a class="a" href="/dashboard/edit/{{id}}">
          <button class="button">Edit Post</button>
        </a>
      </div>
    {{/each}}
  {{else}}
    <h6>You do not have any posts.</h6>
  {{/if}}
</div>