<section>
  <a href="/dashboard" class="a"> &larr; Back to dashboard</a>
  <h2 class="title">Create New Blog Post</h2>
  <hr>

  <form class="new-post-form" id="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Insert post title here">
    </div>
    <div>
      <label for="post-content">Content:</label>
      <textarea class="textarea" id="post-content" name="post-content" placeholder="Insert post content here"></textarea>
    </div>
    <button type="submit">Create Post</button>
  </form>
</section>

<script src="/scripts/new-post.js"></script>