<!-- Displaying articles -->
{{> post-info post}}

<!-- Displaying form and comments -->
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea class="ml-5" name="comment-body"></textarea>
    </div>

    <div>
      <button class="button is-warning ml-5 mb-5" type="submit">Add comment</button>
    </div>
  </form>

  {{> comments post.comments}}

  <script src="/javascript/comment.js"></script>
{{/if}}